* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

/*
.section-container {
  height: 100vh;
  width: 100%;
}
*/

/* Importação de font family */
@font-face {
  font-family: dancing;
  src: url(../fonts/fonte_dancing/DancingScript-VariableFont_wght.ttf);
}

@font-face {
  font-family: otomanopee;
  src: url(../fonts/fonte_otomanopee/OtomanopeeOne-Regular.ttf);
}

@font-face {
  font-family: port;
  src: url(../fonts/fonte_Port/PortLligatSlab-Regular.ttf);
}

/* Estilização do Cabeçalho */
.elementHeaderDefault {
  align-items: center;
  display: flex;
  height: 90px;
}

.elementHeader {
  background-color: #f5e6d8;
}

.elementHeader-icons {
  margin-right: auto;
  margin-left: auto;
}

#idIcons {
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
}

.elementHeader-menu {
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
}

#idMenu {
  margin-left: 10px;
  margin-right: 10px;
}

.elementHeader-marca {
  width: 80%;
}

#idMarca {
  font-family: dancing;
  font-size: 50px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
}

/* Estilização Seção de categorias de produtos  */
.elementSectionProductDefault {
  display: flex;
  align-items: center;
}

.elementSectionProduct {
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  cursor: pointer;
}

.elementSectionLeadDefault {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 70%;
  height: 350px;
  margin-bottom: 50px;
  background-color: #f5e6d8;
}

.contentFormImgs {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.elementSectionLead {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

#idOff {
  font-family: otomanopee;
  font-size: 80px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

#idOff-sub {
  font-family: otomanopee;
  font-size: 15px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

#idCadastreText {
  font-family: otomanopee;
  font-size: 18px;
  text-align: center;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
}

#idCadastreText-sub {
  font-family: otomanopee;
  font-size: 18px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

#idCadastreText-bottomForm {
  font-family: otomanopee;
  font-size: 10px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.elementSectionBeneficiosDefault {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

.elementSectionBeneficios {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

#idTextBeneficios {
  margin-left: auto;
  margin-right: auto;
  font-family: otomanopee;
  font-size: 20px;
  text-align: center;
}

.beneficios {
  display: flex;
  flex-direction: column;
}

.iconBeneficios {
  margin-left: auto;
  margin-right: auto;
}

#descricaoBenef {
  margin-left: 50px;
  margin-right: 50px;
  font-family: port;
  font-size: 15px;
  text-align: center;
}

#idSaibaMais {
  font-family: dancing;
  font-size: 20px;
  text-align: center;
}

#idFinalizar {
  font-family: otomanopee;
  font-size: 20px;
  text-align: center;
}

.bottomSaibaMais {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 200px;
  height: 40px;
  background: #f5e6d8;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 30px;
  cursor: pointer;
}

.bottomFinalizar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 40px;
  background: #f5e6d8;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 30px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

.elementSectionProdutosDefault {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.elementSectionProdutosDefault2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.elementSectionProdutosText {
  margin-left: 300px;
  margin-right: auto;
}

#idText {
  font-family: dancing;
  font-size: 50px;
}

.elementSectionProdutos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.elementSectionProdutosInfos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 15px;
  background: #f5e6d8;
  height: auto;
  width: auto;
  align-items: center;
  border-radius: 30px;
}

.elementSectionProdutosFilhos {
  margin-left: 20px;
  margin-right: 20px;
}

.elementSectionProdutosInfosIcons {
  margin-right: 15px;
  cursor: pointer;
}

#idPreco {
  font-family: dancing;
  font-size: 17px;
  cursor: pointer;
  margin-top: 3px;
}

#idNome {
  font-family: otomanopee;
  font-size: 17px;
}

#idProd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.elementFooterDefault {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #f5e6d8;
  height: 200px;
  margin-top: 30px;
}

.elementFooterInstitucional {
  margin-left: 100px;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.elementFooterRedesSociais {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-top: 10px;
}

.elementFooterRedesSociaisFilhas {
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

#idTextFooter {
  font-family: otomanopee;
  margin-top: 10px;
  margin-bottom: 10px;
}

#idTextFooterInfos {
  margin-top: 10px;
  margin-bottom: 5px;
  cursor: pointer;
}

#idTextFooterInfosDois {
  margin-top: 10px;
  margin-bottom: 5px;
}

input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 25px;
  text-align: center;
  border-radius: 10px;
  background: #f5e6d8;
  font-family: otomanopee;
  margin-top: 10px;
  margin-bottom: 10px;
}

#idEnviar {
  cursor: pointer;
  background: black;
  color: white;
  align-items: center;
}

#idAddQuant {
  cursor: pointer;
  background: black;
  color: white;
  align-items: center;
}

#idcadastrado {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 30px;
  font-family: otomanopee;
  margin-top: 20px;
  margin-bottom: 20px;
  background: black;
  color: #f5e6d8;
}
